@font-face {
  font-family: "Geist Regular";
  src: local("Geist-Regular"), local("Geist-Regular"),
    url("fonts/Geist-Regular.otf") format("opentype"),
    url("fonts/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geist Bold";
  src: local("Geist-Bold"), local("Geist-Bold"),
    url("fonts/Geist-Bold.otf") format("opentype"),
    url("fonts/Geist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geist Medium";
  src: local("Geist-Medium"), local("Geist-Medium"),
    url("fonts/Geist-Medium.otf") format("opentype"),
    url("fonts/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist Thin";
  src: local("Geist-Thin"), local("Geist-Thin"),
    url("fonts/Geist-Thin.otf") format("opentype"),
    url("fonts/Geist-Thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
